
<p class="text-right">
	<button class="btn btn-default" ng-click="clearPlaylist()">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear Play List
	</button>
<p>

<table table class="table table-hover">
    <thead>
        <tr>
            <th>Path</th>
            <th>Time</th>
            <th>FileExt</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="track in tracks" ng-if="tracks">
            <td>{{track.Path}}</td>
            <td>
                <span class="label label-success">{{track.Time | readableTime}}</span>
            </td>
            <td>
                <span class="label label-primary">{{track.FileExt}}</span>
            </td>
        </tr>
    </tbody>
</table>